<div class="container">
  <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmin()">
    <span class="font-color-normal">{{(book$ | async)?.title}}</span>
    <mat-form-field>
      <input matInput [readonly]="!isEdit||sending" formControlName="title" placeholder="帳本名稱" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [readonly]="!isEdit||sending" rows="10" formControlName="description" placeholder="詳細資訊"></textarea>
    </mat-form-field>

    <button customButton="edit" style="width: max-content;margin-left: auto;" type="button" [hidden]="isEdit"
      (click)="onEdit()">
      編輯
    </button>

    <span style="width: max-content;margin-left: auto;" [hidden]="!isEdit">
      <button customButton="save" style="width: max-content;" type="submit" [disabled]="sending">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!sending"></span>
        儲存
      </button>

      <button customButton="back" style="width: max-content;" type="button" [hidden]="sending" [disabled]="sending" (click)="onCancel()">
        取消
      </button>
    </span>
  </form>
</div>
