<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">帳本資訊</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onCategories()">分類</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onAuthorities()">權限</a>
    </li>
  </ul>
  <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmin()">
    <span class="font-color-normal">{{(book$ | async)?.title}}</span>
    <mat-form-field>
      <input matInput [readonly]="!isEdit||sending" formControlName="title" placeholder="帳本名稱" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [readonly]="!isEdit||sending" rows="10" formControlName="description"
        placeholder="詳細資訊"></textarea>
    </mat-form-field>
    <span [hidden]="isEdit">
      <span style="width: 50%;display: inline-block;">
        <button customButton="delete" type="button" (click)="onDelete()">
          刪除
        </button>
      </span>
      <span style="width: 50%;display: inline-block;text-align: end;">
        <button customButton="edit" type="button" (click)="onEdit()">
          編輯
        </button>
      </span>
    </span>

    <span style="width: max-content;margin-left: auto;" [hidden]="!isEdit">
      <button customButton="save" style="width: max-content;" type="submit" [disabled]="sending">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!sending"></span>
        儲存
      </button>

      <button customButton="back" style="width: max-content;" type="button" [hidden]="sending" [disabled]="sending"
        (click)="onCancel()">
        取消
      </button>
    </span>
  </form>
</div>
