<div class="container">
  <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmin()">
    <span class="font-color-normal">建立新帳本</span>
    <mat-form-field>
      <input matInput [readonly]="sending" formControlName="title" placeholder="帳本名稱" required>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [readonly]="sending" rows="10" formControlName="description" placeholder="詳細資訊"></textarea>
    </mat-form-field>

    <button customButton="save" style="width: max-content;margin-left: auto;" type="submit" [disabled]="sending">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!sending"></span>
      送出
    </button>

  </form>
</div>
