<!--Sidebar li-->
<li matRipple>
  <!--[class]="menuService.lockPath === sidebar.href ? 'active': ''"-->
  <span class="title font-color-normal">
    <span style="width: 100%;" (click)="conversionRouter(url)">
      <mat-icon  style="margin-right: 10px">{{icon}}</mat-icon>
      <!-- <a (click)="title(book.id)">{{ (title.length>15)? (book.title | slice:0:15)+'..':(book.title) }}</a> -->
      <a>{{ (title.length>15)? (title | slice:0:15)+'..':(title) }}</a>
    </span>
    <button mat-icon-button class="right-icon" [hidden]="!more" (click)="goMore(bookID)">
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</li>
