body,
html {
  height: 100%;
  margin: 0px;
  min-width: 320px;
  color: #455358 !important;
}

.swal2-top-end {
  margin-top: 100px;
}

.navbar-backcolor {
  background-color: #4257b2 !important;
}

.body-backcolor {
  background-color: #f0f0f0 !important;
}

.font-color-Compared {
  color: #fff !important;
}

.mat-drawer {
  background-color: #fff;
}
